Source: chef-handler-foreman
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
# bundler (~> 1.3, development), rake (>= 0, development)
Standards-Version: 3.9.8
#Vcs-Git: https://anonscm.debian.org/pkg-ruby-extras/ruby-chef-handler-foreman.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-chef-handler-foreman.git;a=summary
Homepage: https://github.com/theforeman/chef-handler-foreman
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: chef-handler-foreman
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
Description:  Chef handler for Foreman integration
 This package add a chef handler for Foreman.
 It allows your chef-client to upload attributes (facts) and reports to Foreman
